! special
*.foreground:   #c0c5ce
*.background:   #2b303b
*.cursorColor:  #c0c5ce

! black
*.color0:       #2b303b
*.color8:       #65737e

! red
*.color1:       #bf616a
*.color9:       #bf616a

! green
*.color2:       #a3be8c
*.color10:      #a3be8c

! yellow
*.color3:       #ebcb8b
*.color11:      #ebcb8b

! blue
*.color4:       #8fa1b3
*.color12:      #8fa1b3

! magenta
*.color5:       #b48ead
*.color13:      #b48ead

! cyan
*.color6:       #96b5b4
*.color14:      #96b5b4

! white
*.color7:       #c0c5ce
*.color15:      #eff1f5

XTerm*faceName: JetBrains Mono Medium
XTerm*faceSize: 12

URxvt*font: xft:JetBrains Mono:style=Medium:size=11:antialias=true
URxvt*thickness: 15
! enable transparency
URxvt*transparent:          true
! percentage of shading
URxvt*.shading:             75
! shading color
URxvt*tintColor:            #2b303b

URxvt*scrollstyle: xterm
URxvt*scrollColor: #001E27

rofi.color-enabled: true
rofi.color-window: argb:cc2f343f, argb:cc2f343f, argb:cc2f343f
rofi.color-normal: argb:002f343f, #d8dee8, argb:002f343f, argb:002f343f, #bf616a
rofi.color-active: #2f343f, #b48ead, #2f343f, #2f343f, #93e5cc
rofi.color-urgent: #2f343f, #ebcb8b, #2f343f, #2f343f, #ebcb8b

